---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import ServiceCard from "@/components/services/ServiceCard.astro";
// Content
import { getCollection } from "astro:content";
const services = await getCollection("services");
services.sort((a, b) => {
  const featuredDiff = (b.data.featured ? 1 : 0) - (a.data.featured ? 1 : 0);
  if (featuredDiff !== 0) return featuredDiff;
  return a.data.title.localeCompare(b.data.title);
});
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
      <Kicker class="text-base-600">What we build and how we deliver</Kicker>
      <div class="lg:col-span-2 text-balance">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight text-balance text-accent-900"
        >
          Thoughtfully planned construction services, built to perform and
          endure.
        </Text>
        <Text tag="p" variant="textLG" class="text-base-600 mt-4">
          From renovations to full builds, we manage the details—so your project
          stays on schedule and built to last.
        </Text>
        <Button
          isLink
          size="base"
          variant="muted"
          href="/services"
          class="mt-8 w-fit">See all services</Button
        >
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-x-8 gap-y-12">
      {services.slice(0, 3).map((service) => <ServiceCard service={service} />)}
    </div>
  </Wrapper>
</section>
