---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import TeamCard from "@/components/team/TeamCard.astro";
// Content
import { getCollection } from "astro:content";
const allTeam = await getCollection("team");
allTeam.sort((a, b) => {
  const nameA = a.data.name.toLowerCase();
  const nameB = b.data.name.toLowerCase();
  return nameA.localeCompare(nameB);
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12 lg:py-24">
      <Text tag="h1" variant="textBase"> Team </Text>
      <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-8">
        {allTeam.map((post) => <TeamCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
