---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-12 lg:py-24">
    <Text tag="h1" variant="displaySM"> Hero </Text>
    <Text tag="p" variant="textBase"> Hero goes your hero </Text>
  </Wrapper>
</section>
