---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12 lg:py-24">
      <Text tag="h1" variant="textBase"> Blog </Text>
      <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 gap-8">
        {allPosts.map((post) => <BlogCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
