---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<BaseLayout hideNavigation={true} hideFooter={true}>
  <section>
    <Wrapper variant="standard">
      <Text tag="h1" variant="textLG">
        404
      </Text>
      <Button isLink={true} href="/" size="xs" variant="muted">
        Go back gome
      </Button>
    </Wrapper>
  </section>
</BaseLayout>
