---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Sections
import Hero from "@/components/about/Hero.astro";
import Expertise from "@/components/about/Expertise.astro";
import WhatWeDo from "@/components/landing/WhatWeDo.astro";
---
<BaseLayout
  title="About A1 Electrical - 40+ Years Serving Dunedin"
  description="Meet A1 Electrical - family-owned Dunedin electricians since 1984. Master Electricians with Gold SiteWise certification. Quality, integrity, community."
  navTransparent={true}
>
  <Hero />
  <Expertise />
  <WhatWeDo />

  <section class="bg-accent-600">
    <Wrapper variant="standard" class="py-20">
      <div class="text-center">
        <Text
          tag="h2"
          variant="displayMD"
          class="text-white font-medium italic tracking-tight"
        >
          Discover How We Can Help
        </Text>
        <Button
          isLink
          size="base"
          variant="muted"
          href="/services"
          class="w-fit mt-8 mx-auto"
        >
          Explore Our Expertise
        </Button>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
