---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="relative flex flex-col bg-accent-800">
  <Wrapper
    variant="standard"
    class="py-12 pt-48 lg:border-x lg:border-white/10"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-end gap-12">
      <div class="max-w-4xl text-balance lg:col-span-2">
        <Kicker class="text-base-400">Contact Us</Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight mt-12 text-white"
        >
          Get in touch with your local electrical experts
        </Text>
        <Text tag="p" variant="textLG" class="text-base-400 mt-4">
          Whether you need a quote, have questions, or require emergency assistance, we're here to help. Contact A1 Electrical today.
        </Text>
      </div>
    </div>
  </Wrapper>
</section>
