---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class="relative flex flex-col bg-accent-800">
  <Wrapper
    variant="standard"
    class="py-12 pt-48 lg:border-x lg:border-white/10"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-end gap-12">
      <div class="max-w-4xl text-balance lg:col-span-2">
        <Kicker class="text-base-400">Careers</Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight mt-12 text-white"
        >
          Build a career defined by accountability, skill, and real-world impact
        </Text>
        <Text tag="p" variant="textLG" class="text-base-400 mt-4">
          Join a team that values disciplined execution, safety on every site,
          and craftsmanship that stands up to scrutiny.
        </Text>
      </div>
    </div>
  </Wrapper>
</section>
