---
interface Props {
  variant?: "standard" | "paddingless" | "prose" | "narrow"; // Define any variants you need
  class?: string; // Optional prop for additional classes
  id?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  // All purpose wrapper
  standard: " max-w-7xl mx-auto px-8  w-full 2xl:max-w-[110rem] ",
  narrow: "max-w-2xl 2xl:max-w-4xl",
  paddingLess: "max-w-screen mx-auto w-full 2xl:max-w-[110rem]",
  // Wrapper for prose blocks
  prose:
    "prose prose-base w-full \
   prose-headings:font-medium prose-headings:text-base-900 \
   prose-p:text-base-700 prose-strong:text-base-900 \
   prose-a:text-accent-600 prose-a:border-b prose-a:border-accent-600 prose-a:no-underline \
   prose-a:transition-colors prose-a:duration-200 \
   prose-a:hover:text-accent-700 prose-a:hover:border-accent-500 \
   prose-blockquote:border-l-accent prose-blockquote:text-base-600 \
   prose-li:marker:text-accent-500 \
   prose-ul:[list-style-type:'///'] \
   prose-pre:border prose-pre:border-base-200 prose-pre:bg-base-50 \
   prose-pre:rounded-xl prose-pre:scrollbar-hide \
   prose-tr:border-base-200 prose-thead:border-base-300",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
