---
interface Props {
  variant?: "standard" | "paddingless" | "prose" | "narrow"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  // All purpose wrapper
  standard:
    " max-w-screen mx-auto px-8 md:px-12 lg:px-24 w-full 2xl:max-w-[110rem]",
  narrow: "max-w-2xl 2xl:max-w-4xl",
  paddingLess: "max-w-screen mx-auto w-full 2xl:max-w-[110rem]",
  // Wrapper for prose blocks
  prose: "prose max-w-none",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
