---
const { variant = "dark", class: additionalClass, href } = Astro.props;
---

<a
  href={href}
  class={`flex text-lg w-fit font-medium ${variant === "dark" ? "text-accent-900" : "text-white"} relative
    after:absolute after:left-0 after:-bottom-1
    after:h-0.5 after:w-0 after:bg-secondary-500
    after:transition-[width] after:duration-300 after:ease-out
    hover:after:w-full hover:text-secondary-500 ${additionalClass || ""}`}
>
  <slot />
</a>
