---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry from "@/components/blog/BlogCard.astro";
// Content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <div class="max-w-xl mx-auto text-center text-balance">
        <Kicker class="text-base-600">Journal</Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-medium tracking-tight mt-12 capitalize"
        >
          {tag}
        </Text>
        <Text tag="p" variant="textLG" class="text-base-600 mt-4">
          Articles tagged with “{tag}”.
        </Text>
      </div>
      <div
        class="grid grid-cols-1 lg:grid-cols-3 mt-12 lg:mt-24 gap-x-8 gap-y-24"
      >
        {posts.map((post) => <BlogEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
