---
import BaseLayout from "@/layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12 lg:py-24">
      <div class="text-center">
        <Text tag="p" variant="displaySM" class="text-base-900 font-medium">
          {frontmatter.page}
        </Text>
        <Text tag="p" variant="textXS" class="text-base-600 mt-8">
          Updated on
          <time datetime={new Date(frontmatter.pubDate).toISOString()}>
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }
          </time>
        </Text>
      </div>
      <Wrapper variant="prose" class="mt-12 max-w-xl mx-auto"><slot /></Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
