---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 lg:pt-48">
      <div class="text-center">
        <Kicker class="text-secondary-500"> Legal document </Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-semibold tracking-tighter mt-12"
        >
          {frontmatter.page}
        </Text>
        <Text tag="p" variant="textLG" class="text-base-600 mt-4">
          Last updated on
          <time datetime={new Date(frontmatter.pubDate).toISOString()}>
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }
          </time>
        </Text>
      </div>
    </Wrapper>
    <Wrapper variant="standard" class="py-12">
      <Wrapper variant="narrow" class="mx-auto">
        <Wrapper variant="prose">
          <slot />
        </Wrapper>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
