---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<header>
  <Wrapper variant="standard">
    <div class="flex items-center justify-between py-2">
      <a href="/">Home</a>
      <a href="/system/overview">Overview</a>
    </div>
  </Wrapper>
</header>
